body {
	font-family: Century Gothic, sans-serif;
	color: #000;
}

.header {
	background-color: #3D5971;
	text-align: center;
}

.header a, .header a:hover, .header a:active {
	color: #F4F4F4;
	display: inline-block;
	cursor: pointer;
	padding: 10px;
	font-size: 1.2em;
}

a {
	color: #A4A551;
}

a:hover, a:active {
	color: #A4A551;
	text-decoration: none;
}

.logo {
	color: #F4F4F4;
	text-align: left;
}

.logo em {
	display: block;
	font-size: .9em;
}

.header a.active {
	background-color: #062740;
}

.leader {
	float: left;
	margin-bottom: 10px;
}

.leader h1 {
	display: inline-block;
}

.leader img {
	margin: 10px 0;
}

.referer {
	padding: 15px;
}

.referer .photo {
	text-align: center;
}

.referer img {
	margin: auto;
}

blockquote {
	border-left: 5px solid #F3E0C5;
}

.wrapper {
	background-color: #FFF;
}

.wrapper .container {
  	background-color: #FFF;
  	margin: 15px auto;
}

/* Smaller widths on containers with wrapper to compensate for the frame padding */
@media (min-width: 768px) {
  .wrapper .container {
    width: 690px;
  }
}
@media (min-width: 992px) {
  .wrapper .container {
    width: 870px;
  }
}
@media (min-width: 1200px) {
  .wrapper .container {
    width: 1110px;
  }
}

@media (min-width: 500px) {
	.wrapper .container {
		-moz-box-shadow: 0 0 5px #CCC;
		-webkit-box-shadow: 0 0 5px #CCC;
		box-shadow: 0 0 5px #CCC;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.wrapper {
		background-image: url(/img/bg-drop.png);
		background-color: #F4F4F4;
		padding: 30px;
	}
}

body > footer {
	padding: 40px 0;
	text-align: center;
	background-color: #F9F9F9;
	border-top: 1px solid #E5E5E5;
}