<div class="container">
  <div class="leader row">
    <div class="col-xs-12 col-sm-9">
      <h1>Hej! Vi kan det här med datorer!</h1>
      <p>
        Behöver ditt företag hjälp med planering av er infrastruktur med Unix som plattform? Kanske driver ni en webbyrå men vill slippa tänka på hur en server fungerar? Behöver ni spara stora mängder med data? Eller vill ni bara komma åt kontoret på distans? Vi hjälper till antingen vid behov eller för tillsvidare underhåll och support av systemet i sin helhet.
      </p>
    </div>
    <div class="col-sm-3 hidden-xs">
      <img src="/img/cpu-2.svg" class="img-responsive pull-right">
    </div>
  </div>
</div>
<div class="container">
  <div class="leader row">
    <div class="col-sm-3 visible-xs text-center">
      <img src="/img/johnny.jpg" class="img-circle center-block">
    </div>
    <div class="col-sm-9">
      <h3>Om Joonix</h3>
      <p>
        Företaget grundades av mig, Johnny Bergström. Jag har över 7 år erfarenhet av arbete med framförallt att planera och driva infrastruktur med höga krav på tillgänglighet och snabba svarstider men också av många andra relaterade områden inom webbutveckling och serverdrift.
      </p>
    </div>
    <div class="col-sm-3 hidden-xs">
      <img src="/img/johnny.jpg" class="img-circle pull-right">
    </div>
  </div>
</div>
<div class="container">
  <div class="referer row">
    <div class="photo col-sm-3">
      <img src="/img/hakan.jpg" class="img-circle img-responsive">
    </div>
    <div class="col-sm-9">
      <blockquote>
        <p>Curabitur venenatis pulvinar tellus gravida ornare. Sed et erat faucibus nunc euismod ultricies ut id justo. Nullam cursus suscipit nisi, et ultrices justo sodales nec. Fusce venenatis facilisis lectus ac semper. Aliquam at massa ipsum. Quisque bibendum purus convallis nulla ultrices ultricies. Nullam aliquam, mi eu aliquam tincidunt, purus velit laoreet tortor, viverra pretium nisi quam vitae mi. Fusce vel volutpat elit. Nam sagittis nisi dui.</p>
        <footer>
          <span>Håkan Malm</span>
          <p>COO, Saltside Technologies AB</p>
        </footer>
      </blockquote>
    </div>
  </div>
  <div class="referer row">
    <div class="photo col-sm-3">
      <img src="/img/gustav.jpg" class="img-circle img-responsive">
    </div>
    <div class="col-sm-9">
      <blockquote>
        <p>Mobajl är sedan 2005 aktiva inom digital- och mobilmarknadsföring. Under sin anställning hos oss ansvarade Johnny för den tekniska utvecklingen i bolaget samt uppbyggnaden av bolagets digitala kampanjerna på nätet. Johnny har med stor kompetens utfört de uppgifter som vi efterfrågat och han har också visat prov på effektivitet och snabbhet i arbetet. Johnny är en tillgång för varje företag som vill ta del av hans kreativitet och vi kan därför varmt rekommendera honom till liknande uppdrag.</p>
        <footer>
          <span>Gustav Perers</span>
          <p>VD, Mobajl AB</p>
        </footer>
      </blockquote>
    </div>
  </div>
  <div class="referer row">
    <div class="photo col-sm-3">
      <img src="/img/staffan.jpg" class="img-circle img-responsive">
    </div>
    <div class="col-sm-9">
      <blockquote>
        <p>Johnny är en otroligt talangfull och diciplinerad utvecklare. Allt han skapar håller en väldigt hög kvalité och ett djupgående säkerhetstänk är en självklarhet. En av hans bästa egenskaper är hans ständiga törst efter ny kunskap.  Med Johnny i teamet kommer man alltid ligga i den absoluta framkanten av den tekniska utvecklingen. Jag ser personligen fram mot den dagen då jag får nöjet att jobba tillsammans med honom igen!</p>
        <footer>
          <span>Staffan Sundblad</span>
          <p>CEO, Machinima Entertainment Sweden AB</p>
        </footer>
      </blockquote>
    </div>
  </div>
</div>