<div class="container">
  <div class="leader row">
    <div class="col-xs-12 col-sm-9">
      <h2>Hej! Behöver du hjälp med IT-utveckling?</h2>
      <p>
        Driver du ett mindre eller medelstort företag som behöver hjälp med planering av er IT-arkitektur med Unix som plattform? Sugen på att utnyttja fördelarna med "molnet" men saknar en bra grund att stå på? Behöver ni spara stora mängder med data? Eller vill ni bara ha hjälp med att komma åt kontoret på distans? Vi hjälper till antingen vid behov eller för tillsvidare underhåll och support av lösningen i sin helhet.
      </p>
      <a class="btn btn-primary" href="#/quote">Offert</a>
    </div>
    <div class="col-sm-3 hidden-xs">
      <img src="/img/cpu-2.svg" class="img-responsive pull-right">
    </div>
  </div>
</div>
<div class="container">
  <div class="leader row">
    <div class="col-sm-3 visible-xs text-center">
      <img src="/img/johnny.jpg" class="img-circle center-block">
    </div>
    <div class="col-sm-9">
      <h3>Om Joonix</h3>
      <p>
        Företaget grundades av mig, Johnny Bergström. Jag har över 7 år erfarenhet av arbete med framförallt att planera och driva infrastruktur med höga krav på tillgänglighet och snabba svarstider men också av många andra relaterade områden inom webbutveckling och serverdrift.
      </p>
    </div>
    <div class="col-sm-3 hidden-xs">
      <img src="/img/johnny.jpg" class="img-circle pull-right">
    </div>
  </div>
</div>
<div class="container">
  <div class="referer row">
    <div class="photo col-sm-3">
      <img src="/img/hakan.jpg" class="img-circle img-responsive">
    </div>
    <div class="col-sm-9">
      <blockquote>
        <p>Som backend lead och första anställd i systerbolaget Duego Technologies AB, hade Johnny ansvaret för att bygga infrastrukturen som serverar all trafik till slutanvändaren. Uppgiften att skapa en platform för att hantera tusentals förfrågningar per sekund och att vara stöd för övriga utvecklare i deras dagliga arbete har genomförts på ett effektivt och genomtänkt sätt. Jag har aldrig känt mig orolig äver att något inte ska bli löst när ansvaret tilldelats Johnny. Han rekommenderas starkt!
        </p>
        <footer>
          <span>Håkan Malm</span>
          <p>COO, Saltside Technologies AB</p>
        </footer>
      </blockquote>
    </div>
  </div>
  <div class="referer row">
    <div class="photo col-sm-3">
      <img src="/img/gustav.jpg" class="img-circle img-responsive">
    </div>
    <div class="col-sm-9">
      <blockquote>
        <p>Mobajl är sedan 2005 aktiva inom digital- och mobilmarknadsföring. Under sin anställning hos oss ansvarade Johnny för den tekniska utvecklingen i bolaget samt uppbyggnaden av bolagets digitala kampanjer på nätet. Johnny har med stor kompetens utfört de uppgifter som vi efterfrågat och han har också visat prov på effektivitet och snabbhet i arbetet. Johnny är en tillgång för varje företag som vill ta del av hans kreativitet och vi kan därför varmt rekommendera honom till liknande uppdrag.</p>
        <footer>
          <span>Gustav Perers</span>
          <p>VD, Mobajl AB</p>
        </footer>
      </blockquote>
    </div>
  </div>
  <div class="referer row">
    <div class="photo col-sm-3">
      <img src="/img/staffan.jpg" class="img-circle img-responsive">
    </div>
    <div class="col-sm-9">
      <blockquote>
        <p>Johnny är en otroligt talangfull och diciplinerad utvecklare. Allt han skapar håller en väldigt hög kvalité och ett djupgående säkerhetstänk är en självklarhet. En av hans bästa egenskaper är hans ständiga törst efter ny kunskap.  Med Johnny i teamet kommer man alltid ligga i den absoluta framkanten av den tekniska utvecklingen. Jag ser personligen fram mot den dagen då jag får nöjet att jobba tillsammans med honom igen!</p>
        <footer>
          <span>Staffan Sundblad</span>
          <p>CEO, Machinima Entertainment Sweden AB</p>
        </footer>
      </blockquote>
    </div>
  </div>
</div>