<div class="container">
	<div class="leader row">
		<div class="col-xs-9">
			<h1>Tjänster</h1>
			<p>Nedan följer ett par exempel på vad vi kan hjälpa till med. Vi har flera års erfarenhet av att vara med och lägga grunden till olika webbapplikationer för att hantera fler än 1,6 miljoner unika besökare i månaden.</p>
			<p>
				Några exempel på tidigare uppdrag:
				<ul>
		          <li>Tjänst för chat i realtid med tusentals samtidiga aktiva användare.</li>
		          <li>Distribution av videomaterial via egenutvecklad torrent tracker.</li>
		          <li>Kösystem för konvertering till olika format av bild och video.</li>
		          <li>Migrera data mellan två helt olika databassystem i realtid via egenutvecklad klient.</li>
		          <li>Webbaserat gränssnitt för administration av användare.</li>
		          <li>Installation av privat molntjänst för virtualiserad utvecklingsmiljö.</li>
		        </ul>
			</p>
		</div>
		<div class="col-xs-3">
			<img src="/img/package.svg" class="img-responsive">
		</div>
	</div>
</div>
<div class="container">
	<div class="amazon row">
		<div class="col-xs-12 col-sm-9">
			<h3>Amazon Web Services</h3>
			<p>Hjälp med planering och drift av en robust miljö utformad speciellt för tjänsten som ska levereras.</p>
			<p>Vi har tidigare erfarenhet av större infrastruktur med tjänster som Amazon EC2, S3, Route 53, ElastiCache, VPC samt CloudWatch med tillhörande regler för autoskalning beroende på trafikmönster.</p>
		</div>
		<div class="col-sm-3 hidden-xs">
			<img src="/img/aws.svg" class="img-responsive pull-right logo">
		</div>
	</div>
</div>
<div class="container">
	<div class="dev row">
		<div class="col-xs-12 col-sm-9">
			<h3>Programmering och utveckling</h3>
			<p>Behöver ni utveckla eller förbättra en egen tjänst? Vi har tidigare erfarenhet av programmering i PHP5, Python och Go med inriktning på backendsystem men kan självklart även hjälpa till med HTML5/CSS3 och JavaScript.</p>
			<p>Tjänster utvecklade av oss kommer anpassade för mobila användare och kan hantera stora volymer trafik vid behov.</p>
		</div>
		<div class="col-sm-3 hidden-xs">
			<img src="/img/script.svg" class="img-responsive pull-right logo">
		</div>
	</div>
</div>
<div class="container">
	<div class="hosting row">
		<div class="col-xs-12 col-sm-9">
			<h3>VPS/Dedikerad Hosting av enskilda servrar</h3>
			<p>Våra sammarbetspartners tillhandhåller konkurrenskraftiga och mycket välintegrerade nät mot Europa och USA för uppsättning av servrar som kräver hög tillgänglighet till ett bra pris. Allt från en mindre virtuell server till egna rackskåp med dedikerad hårdvara finns att tillgå.</p>
			<p>Självklart kan vi även ta hand om all framtida drift och installation på dessa servrar. Vi har många års erfarenhet av serverdrift med Linux och FreeBSD som operativsystem.</p>
		</div>
		<div class="col-sm-3 hidden-xs">
			<img src="/img/server.svg" class="img-responsive pull-right logo">
		</div>
	</div>
</div>